#news {
  overflow: hidden;
  position: relative;
  background: linear-gradient(5deg, #b4864293 0%, #b99257b0 100%);
}

#news img.bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
  z-index: -1;
}

#news header h2 span {
  font-weight: 700;
  background: #fff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#news header {
  margin-top: 2rem;
  margin-bottom: 5rem;
}

#news header p {
    margin-top: .5rem;
    color: #ffffffb3;
}

#news .cards {
  border-radius: 1rem;

  padding-bottom: 5rem;
}

#news .cards .card {
  position: relative;
  user-select: none;
}

#news .cards .card {
  width: 100%;
  aspect-ratio: 9/16;
  border: 2px solid var(--primary-color);
  background: linear-gradient(130deg, #000, #080601);
  object-fit: cover;
  border-radius: 2rem;
  overflow: hidden;
}

#news .wrapper.carrossel {
  position: relative;
}

#news .cards .card video {
  width: 100%;
  height: 100%;
}

section#news .swiper-pagination-bullet {
    background-color: #5151513e; 
    opacity: 1; 
    width: 13px;
    height: 13px;
  }
  
section#news .swiper-pagination-bullet-active {
    background-color: #000000; 
}

section#news .swiper-button-next {
    background: #180f00ab;
    padding: 4rem;
    right: -14%;
    transform: scale(.6);
    top: 37%;
    color: #B48642;
    border-radius: 2rem;
}
  
section#news .swiper-button-prev {
    background: #180f00ab;
    border-radius: 2rem;
    padding: 4rem;
    transform: scale(.6);
    top: 37%;
    left: -14%;
    color: #B48642;
}

body section#news .wrapper .swiper.mySwiper5 {
    overflow: inherit;
}


@media (min-width: 1080px) {
  /* section#news .wrapper.carrossel {
        width: 100%;
        padding-inline: 0;
    } */

    section#news .swiper-button-next {
        right: -6%;
    }
      
section#news .swiper-button-prev {
        left: -6%;
}

  section#news header {
    margin-bottom: 5rem;
    margin-top: 3rem;
  }

  section#news .content .cards {
    border-radius: 0;
  }

  section#news .swiper-button-next {
    right: -6%;
    top: 40%;
}
  
section#news .swiper-button-prev {
    left: -6%;
    top: 40%;
}
}
